body {
	font-family: NS Sans;
	background-color: rgb(230, 230, 233);
	background-image: url(https://media.nu.nl/m/7wmxam9aelia_wd1280.jpg/profiel-ns-spoorwegbedrijf-met-ruim-34000-werknemers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

input[type=text],
input[type=password] {
	width: 100%;
	padding: 0.75em 1.25em;
	margin: 0.5em 0;
	display: inline-block;
	border: 0.0625em solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: rgb(0, 121, 211);
	color: white;
	font-size: 1.5em;
	padding: 0.875em 1.25em;
	margin: 0.5em 0;
	border-bottom-color: rgb(0, 48, 130);
	border-right: none;
	border-left: none;
	border-top: none;
	cursor: pointer;
	width: 100%;
}

form {
	color: rgb(0, 48, 130);
	background-color: white;
	border-left: 0.3125em solid rgb(0, 121, 211);
	border-bottom: 0.125em solid grey;
	left: 42%;
	top: 72%;
	margin-left: -25%;
	position: absolute;
	margin-top: -25%;
}

fieldset {
	border: none;
}

h1 {
	font-size: 1.5em;
}

a {
	color: rgb(0, 48, 130);
}