* {
	font-family: "NS Sans", sans-serif;
}

header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: white;
}

nav {
	font-size: 1em;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

li {
	padding: 1em;
}

li:nth-of-type(2) {
	margin-left: auto;
}

li a {
	color: rgb(0, 48, 130);
	padding: .25em .5em;
	text-decoration: none;
	margin-right: 6.25em;
}

li img {
	margin-left: 1.5em;
	margin-top: 0em;
	width: 3.750em;
}

body {
	font-family: "NS Sans", sans-serif;
	background-image: url(https://media.nu.nl/m/7wmxam9aelia_wd1280.jpg/profiel-ns-spoorwegbedrijf-met-ruim-34000-werknemers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

input[type=text],
input[type=password] {
	outline: none;
	width: 100%;
	padding: 0.75em 1.25em;
	margin: 0.5em 0;
	border: 0.0625em solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: rgb(0, 121, 211);
	color: white;
	font-size: 1.5em;
	padding: 0.875em 1.25em;
	margin: 0.5em 0;
	border-bottom-color: rgb(0, 48, 130);
	border-right: none;
	border-left: none;
	border-top: none;
	cursor: pointer;
	width: 100%;
}


input[type=submit]:focus {
	background-color: rgb(230, 181, 23);
	color: white;
	border-bottom-color: rgb(230, 181, 23);
	
}

input[type=submit]:hover {
	background-color: rgb(0, 48, 130);
}


input[type=submit]:active {
	background-color: rgb(255, 201, 23);
	border-bottom-color: rgb(255, 201, 23);
	color: white;
}



/*FORM STATES*/

input[type=text]:focus {
	border: 2px solid rgb(0, 121, 211);
}
input[type=password]:focus {	
	border: 2px solid rgb(0, 121, 211); }

form {
	color: rgb(0, 48, 130);
	background-color: white;
	border-left: 0.5em solid rgb(0, 121, 211);
	box-shadow: 0 7px 7px -5px darkgrey;
	left: 37.5%;
	top: 62.5%;
	margin-left: -20%;
	position: absolute;
	margin-top: -22%;
}

fieldset {
	border: none;
}

h1 {
	font-size: 1.5em;
}

a {
	color: rgb(0, 48, 130);
}




/*TABLET*/

@media (max-width: 75em) {
	* {
		font-family: "NS Sans", sans-serif;
	}
	header {
		padding-bottom: 2em;
	}
	li {
		padding: 0.1em;
	}
	li img {
		margin-left: 0.5em;
		margin-top: 0em;
		width: 3em;
		height: auto;
	}
	nav {
		font-size: 1.7em;
		padding-top: 0.5em;
		margin: 0;
	}
	li a {
		color: rgb(0, 48, 130);
		padding: 0.25em .5em;
		margin-right: 1em;
	}
	body {
		background-position: left;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-color: rgb(230, 230, 233);
		margin: 0;
		padding: 0;
	}
	form {
		outline: none;
		left: 2.5%;
		right: 2.5%;
		top: 35%;
		margin-left: 1em;
		margin-right: 1em;
		position: absolute;
		margin-top: -22%;
	}
	h1 {
		font-size: 2.4em;
	}
	input[type=text],
	input[type=password] {
		-webkit-appearance: none;
		border-radius: 0;
		font-size: 1.7em;
	}
	input[type=submit] {
		-webkit-appearance: none;
		font-size: 1.9em;
	}
	
	
	p {
		font-size: 1em;
	}
}

@media (max-width: 40em) {
	* {
		font-family: "NS Sans", sans-serif;
	}
	header {
		padding-bottom: 0.5em;
	}
	nav {
		width: 100%;
		font-size: 0.85em;
		padding-bottom: 0.5em;
		margin: 0;
	}
	li img {
		margin-left: 0.5em;
		margin-top: 0em;
		width: 3em;
		height: auto;
	}
	form {
		left: 2.5%;
		right: 2.5%;
		top: 30%;
		border-left: none;
		border-top: 0.5em solid rgb(0, 121, 211);
		margin-left: 1em;
		margin-right: 1em;
		position: absolute;
		margin-top: -22%;
	}
	h1 {
		font-size: 1.4em;
	}
	input[type=text],
	input[type=password] {
		-webkit-appearance: none;
border-radius: 0;
		font-size: 1em;
	}
	input[type=submit] {
		-webkit-appearance: none;
		border-radius: 0;
		font-size: 1.1em;
	}
	p {
		font-size: 1em;
	}
}