html {
	font: 100% / 250% "NS Sans";
	padding: 0;
}

* {
	box-sizing: border-box;
}

header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: white;
}

nav {
	font-size: 1em;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

li {
	padding: 1em;
}

li:nth-of-type(2) {
	margin-left: auto;
}

li a {
	color: rgb(0, 48, 130);
	padding: .25em .5em;
	text-decoration: none;
	margin-right: 6.25em;
}

li img {
	margin-left: 1.5em;
	margin-top: 0.625em;
	width: 3.750em;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(230, 230, 233);
	color: rgb(0, 48, 130);
}

section > h2 {
	grid-row: 1;
	color: rgb(0, 48, 130);
	font-size: 1.5em;
	font-weight: normal;
}

h2 a {
	margin-left: 10%;
	margin-top: auto;
	margin-bottom: auto;
	color: rgb(0, 48, 130);
	font-size: 1em;
	text-decoration: none;
}

main img {
	width: 100%;
	height: auto;
}

main input {
	-webkit-appearance: none;
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
	border-radius: 0;
	position: absolute;
	font-family: "NS Sans", sans-serif;
	background-color: rgb(0, 121, 211);
	color: white;
	border-bottom-color: rgb(0, 48, 130);
	border-right: none;
	border-left: none;
	border-top: none;
	padding: 1em 3em;
	margin-left: 36%;
	margin-top: 6.3em;
	font-size: 1.5em;
	cursor: pointer;
}

main input:hover {
	background-color: rgb(0, 48, 130);
}

header select {
	border-radius: 0;
	font-family: "NS sans", sans-serif;
	background-color: rgb(255, 201, 23);
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom-color: rgb(230, 181, 23);
	font-size: 1.35em;
	width: 6.5em;
	margin-left: 16.5%;
	margin-bottom: 0.3em;
	color: rgb(0, 48, 130);
	cursor: pointer;
}

section > h1 {
	font-family: "NS Sans", sans-serif;
	display: flex;
	font-weight: inherit;
	color: rgb(0, 48, 130);
	background: rgba(255, 201, 23, 0.95);
	position: absolute;
	padding-bottom: 2.6em;
	padding-top: 0.5em;
	font-size: 2em;
	margin-top: -4em;
	margin-left: 8em;
	box-shadow: 0 7px 7px -5px darkgrey;
}

body > section {
	padding: 3.75em;
	box-sizing: border-box;
}

header > h2:first-child {
	margin-top: 1.5em;
}

body > section > section {
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-gap: 1.25em;
}

body > section > section > article img {
	width: 100%;
	height: auto;
}

.uppericon {
	position: absolute;
	display: flex;
	max-width: 3em;
	height: auto;
	margin-top: -6.5em;
	margin-right: 4.5em;
	margin-top: -1em;
}

.uppericon2 {
	position: absolute;
	display: flex;
	max-width: 3em;
	height: auto;
	margin-top: -6.5em;
	margin-right: 4.5em;
	margin-top: -1em;
}

body > section > section > article input {
	-webkit-appearance: none;
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
	border-radius: 0;
	margin-top: auto;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 10%;
	margin-bottom: 0.625em;
	background-color: rgb(255, 201, 23);
	font-family: "NS Sans", sans-serif;
	color: rgb(0, 48, 130);
	border-bottom-color: rgb(230, 181, 23);
	border-right: none;
	border-left: none;
	border-top: none;
	font-size: 1em;
	cursor: pointer;
}

body > section > section > article input:hover {
	background-color: rgb(230, 181, 23);
}

body > section > section > article {
	display: flex;
	flex-direction: column;
	grid-row: 2;
	background-color: white;
	width: 100%;
	border-left: 0.5em solid rgb(0, 121, 211);
	box-shadow: 0 7px 7px -5px darkgrey;
}

header > a {
	display: flex;
	width: 3em;
	height: 3em;
	margin-top: -6.5em;
	margin-left: 12.5em;
	margin-bottom: 3.5em;
}

footer {
	width: 100%;
	height: auto;
	list-style-type: none;
	padding-top: 0.01em;
	padding-bottom: 0.01em;
	background-color: white;
}

footer img {
	width: 3em;
	margin-left: 88%;
}

footer p {
	text-align: center;
}

article p {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 0;
	margin-top: 0;
	line-height: 1.2;
}


/* TABLET */

@media (max-width: 60em) {
	* {
		font-family: "NS Sans", sans-serif;
	}
	body > section > section {
		display: flex;
		flex-direction: column;
	}
	main img {
		max-width: 100%;
		height: auto;
	}
	li {
		padding: 0.1em;
	}
	li img {
		margin-left: 0.5em;
		margin-top: 0em;
		width: 3em;
		height: auto;
	}
	nav {
		font-size: 1.9em;
		padding-top: 0.5em;
		margin: 0;
	}
	ul {
		list-style: none;
		display: flex;
		padding: 0;
		margin-top: 0;
	}
	li:nth-of-type(2) {
		margin-left: auto;
	}
	li a {
		color: rgb(0, 48, 130);
		padding: 0.25em .5em;
		margin-right: 1em;
	}
	header select {
		-webkit-appearance: none;
		border-radius: 0;
		font-family: "NS sans", sans-serif;
		background-color: rgb(255, 201, 23);
		border-right: none;
		border-left: none;
		border-top: none;
		border-bottom-color: rgb(230, 181, 23);
		font-size: 2.2em;
		width: 4em;
		margin-left: 11%;
		margin-top: 0.5em;
		margin-bottom: 0.3em;
		color: rgb(0, 48, 130);
		cursor: pointer;
		-webkit-border-radius: 0px;
	}
	main img {
		width: auto;
		height: auto;
	}
	main input {
		-webkit-appearance: none;
		border-radius: 0;
		position: absolute;
		font-family: "NS Sans", sans-serif;
		background-color: rgb(0, 121, 211);
		color: white;
		border-bottom-color: rgb(0, 48, 130);
		border-right: none;
		border-left: none;
		border-top: none;
		padding: 1em 3em;
		margin-left: 24%;
		margin-top: 2em;
		font-size: 1.8em;
		cursor: pointer;
		-webkit-border-radius: 0px;
	}
	section > h1 {
		font-family: "NS Sans", sans-serif;
		display: flex;
		font-weight: inherit;
		color: rgb(0, 48, 130);
		background: rgba(255, 201, 23, 0.95);
		position: absolute;
		padding-bottom: 2.6em;
		padding-top: 0.5em;
		font-size: 1.6em;
		margin-top: -4.7em;
		margin-left: -1.8em;
		box-shadow: 0 7px 7px -5px darkgrey;
	}
	section > h2 {
		font-size: 2.5em;
	}
	body > section > section > article {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.2em;
		background-color: white;
		width: 100%;
		border-left: 0.5em solid rgb(0, 121, 211);
		box-shadow: 0 7px 7px -5px darkgrey;
	}
	header > a {
		display: flex;
		width: 6em;
		height: 6em;
		margin-top: -8.5em;
		margin-left: 23em;
		margin-bottom: 3.5em;
	}
	.uppericon {
		margin-left: 1em;
		margin-top: -0.5em;
		position: absolute;
		display: flex;
		max-width: 5em;
		height: auto;
	}
	h2 a {
		font-family: "NS Sans", sans-serif;
		margin-left: 10%;
		margin-top: auto;
		margin-bottom: auto;
		color: rgb(0, 48, 130);
		font-size: 1.6em;
		text-decoration: none;
	}
	article p {
		font-size: 1.6em;
		margin-left: 10%;
		margin-right: 10%;
		padding-top: 0;
		margin-top: 0;
		line-height: 1.2;
	}
	body > section > section > article input {
		-webkit-appearance: none;
		border-radius: 0;
		margin-top: auto;
		padding: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		margin-left: 10%;
		margin-bottom: 0.625em;
		background-color: rgb(255, 201, 23);
		font-family: "NS Sans", sans-serif;
		color: rgb(0, 48, 130);
		border-bottom-color: rgb(230, 181, 23);
		border-right: none;
		border-left: none;
		border-top: none;
		font-size: 2em;
		cursor: pointer;
	}
	header > a {
		display: flex;
		width: 6em;
		height: 6em;
		margin-top: -8.5em;
		margin-left: 17em;
		margin-bottom: 3.5em;
	}
	footer p {
		text-align: center;
		font-size: 1.6em;
	}
}


/* MOBIEL */

@media (max-width: 40em) {
	body > header {
		width: 34em;
	}
	nav {
		font-size: 1.2em;
		padding-top: 0.5em;
		margin: 0;
	}
	header select {
		width: 4.5em;
		margin-left: 6.5%;
		font-size: 1.8em;
	}
	body > section > section {
		width: 30em;
		margin-left: -1.7em;
	}
	main img {
		max-width: 34em;
		height: auto;
	}
	body > section > section > article {
		border-left: none;
		border-top: 0.5em solid rgb(0, 121, 211);
	}
	li img {
		margin-left: 0.5em;
		margin-top: 0.3em;
		width: 3em;
		height: auto;
	}
	body > footer {
		font-size: 1em;
		width: 34em;
	}
	main input {
		font-size: 1.4em;
		margin-top: 1.2em;
		margin-left: 5em;
	}
	section > h1 {
		font-size: 1em;
		width: 28.75em;
		margin-left: -1.2em;
		margin-top: -7em;
	}
	section > h2 {
		font-size: 1.8em;
		margin-top: -0.1em;
	}
	body > section > section > article input {
		font-size: 1.5em;
	}
	header > a {
		display: flex;
		width: 5em;
		height: 5em;
		margin-top: -8em;
		margin-left: 13em;
		margin-bottom: 3em;
	}
	.uppericon {
		position: absolute;
		display: flex;
		max-width: 4em;
		height: auto;
		margin-left: 0.2em;
		margin-top: 0.5em;
	}
	header > h2:first-child {
		margin-top: 1.5em;
	}
	header > h2 {
		font-size: 1.1em;
	}
	article > p {
		font-size: 1.2em;
	}
	footer p {
		font-size: 1.2em;
	}
}