/*Alles moet in lettertype NS Sans*/

html {
	font: 100% / 250% "NS Sans";
	padding: 0;
}

* {
	box-sizing: border-box;
}

header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: white;
}

nav {
	font-size: 1em;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

li {
	padding: 1em;
}

li:nth-of-type(2) {
	margin-left: auto;
}

li a {
	color: rgb(0, 48, 130);
	padding: .25em .5em;
	text-decoration: none;
	margin-right: 6.25em;
}

li img {
	margin-left: 1.5em;
	margin-top: 0.625em;
	width: 3.750em;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(230, 230, 233);
	color: rgb(0, 48, 130);
}

section > h2 {
	grid-row: 1;
	color: rgb(0, 48, 130);
	margin-bottom: -0.2em;
	padding-top: 1.5em;
	font-size: 1.5em;
	font-weight: normal;
}

h2 a {
	margin-left: 10%;
	margin-top: auto;
	margin-bottom: auto;
	color: rgb(0, 48, 130);
	font-size: 1em;
	text-decoration: none;
}

main img {
	width: 100%;
	height: auto;
}

main input {
	-webkit-appearance: none;
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
	border-radius: 0;
	position: absolute;
	font-family: "NS Sans", sans-serif;
	background-color: rgb(0, 121, 211);
	color: white;
	border-bottom-color: rgb(0, 48, 130);
	border-right: none;
	border-left: none;
	border-top: none;
	padding: 1em 3em;
	margin-left: 36%;
	margin-top: 6.3em;
	font-size: 1.5em;
	cursor: pointer;
}

/*BUTTON STATES*/

main input:focus {
	background-color: rgb(230, 181, 23);
	color: white;
	border-bottom-color: rgb(230, 181, 23);
	
}

main input:hover {
	background-color: rgb(0, 48, 130);
}


main input:active {
	background-color: rgb(255, 201, 23);
	border-bottom-color: rgb(255, 201, 23);
	color: white;
}


header select {
	border-radius: 0;
	font-family: "NS sans", sans-serif;
	background-color: rgb(255, 201, 23);
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom-color: rgb(230, 181, 23);
	font-size: 1.35em;
	width: 6.5em;
	margin-left: 16.5%;
	margin-bottom: 0.3em;
	color: rgb(0, 48, 130);
	cursor: pointer;
}

section > h1 {
	font-family: "NS Sans", sans-serif;
	display: flex;
	font-weight: inherit;
	color: rgb(0, 48, 130);
	background: rgba(255, 201, 23, 0.95);
	position: absolute;
	padding-bottom: 2.6em;
	padding-top: 0.2em;
	font-size: 2em;
	margin-top: -4.2em;
	margin-left: 8em;
	box-shadow: 0 7px 7px -5px darkgrey;
}

body > section {
	padding: 3.75em;
	box-sizing: border-box;
}

header > h2:first-child {
	margin-top: 1.5em;
}

body > section > section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.25em;
}

body > section > section > article img {
	width: 100%;
	height: auto;
}

/*Class aangemaakt vanuit Javascript om het plusicoon in een vinkje te wijzigen. Dit doe je om verhalen op te slaan in mijn lijstje*/
.opgeslagenverhaal {
	content: url(http://i66.tinypic.com/2h49jz6.png);
}

.opgeslagenverhaal:active {
	opacity: 0;
	transition:opacity 0.15s ease-in-out;
}

.uppericon:active {
	opacity: 0;
	transition:opacity 0.15s ease-in-out;
}

.uppericon {
	cursor: pointer;
	display: flex;
	width: 3em;
	height: 3em;
	margin-top: -7.5em;
	margin-left: 12.5em;
	margin-bottom: 3.5em;
}

.uppericon2 {
	position: absolute;
	display: flex;
	max-width: 3em;
	height: auto;
	margin-top: -6.5em;
	margin-right: 4.5em;
	margin-top: -1em;
}

body > section > section > article input {
	-webkit-appearance: none;
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
	border-radius: 0;
	margin-top: auto;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 10%;
	margin-bottom: 0.625em;
	background-color: rgb(255, 201, 23);
	font-family: "NS Sans", sans-serif;
	color: rgb(0, 48, 130);
	border-bottom-color: rgb(230, 181, 23);
	border-right: none;
	border-left: none;
	border-top: none;
	font-size: 1em;
	cursor: pointer;
}

/*BUTTON STATES*/


body > section > section > article input:focus {
	background-color: rgb(0, 48, 130);
	color: white;
	border-bottom-color: rgb(0, 48, 130);
	
}


body > section > section > article input:hover {
	background-color: rgb(230, 181, 23);
	
}

body > section > section > article input:active {
	background-color: rgb(0, 121, 211);
	border-bottom-color: rgb(0, 121, 211);
	color: white;
}



body > section > section > article {
	display: flex;
	flex-direction: column;
	grid-row: 2;
	background-color: white;
	width: 100%;
	border-left: 0.5em solid rgb(0, 121, 211);
	box-shadow: 0 7px 7px -5px darkgrey;
}


footer {
	width: 100%;
	height: auto;
	list-style-type: none;
	padding-top: 0.01em;
	padding-bottom: 0.01em;
	background-color: white;
}

footer img {
	width: 3em;
	margin-left: 88%;
}

footer p {
	text-align: center;
}

article p {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 0;
	margin-top: 0;
	line-height: 1.2;
}
body > section > section > #buttoninput {
	-webkit-appearance: none;
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
	border-radius: 0;
	margin-top: auto;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 10%;
	margin-bottom: 0.625em;
	background-color: rgb(255, 201, 23);
	font-family: "NS Sans", sans-serif;
	color: rgb(0, 48, 130);
	border-bottom-color: rgb(230, 181, 23);
	border-right: none;
	border-left: none;
	border-top: none;
	font-size: 1em;
	cursor: pointer;
}
.leeg{
	color: white;
}


/* TABLET */

@media (max-width: 75em) {
	* {
		font-family: "NS Sans", sans-serif;
	}
	body > section > section {
		display: flex;
		flex-direction: column;
	}
	main img {
		max-width: 100%;
		height: auto;
	}
	li {
		padding: 0.1em;
	}
	li img {
		margin-left: 0.5em;
		margin-top: 0em;
		width: 3em;
		height: auto;
	}
	nav {
		font-size: 1.7em;
		padding-top: 0.5em;
		margin: 0;
	}
	
	li a {
		color: rgb(0, 48, 130);
		padding: 0.25em .5em;
		margin-right: 1em;
	}
	header select {
		-webkit-appearance: none;
		border-radius: 0;
		font-family: "NS sans", sans-serif;
		border-bottom-color: rgb(230, 181, 23);
		font-size: 2.2em;
		width: 4em;
		margin-left: 11%;
		margin-top: 0.5em;
		margin-bottom: 0.3em;
		
	}
	
	main input {
		-webkit-appearance: none;
		border-radius: 0;
		font-family: "NS Sans", sans-serif;
		padding: 1em 3em;
		margin-left: 24%;
		margin-top: 2em;
		font-size: 1.8em;
		
	}
	section > h1 {
		font-family: "NS Sans", sans-serif;
		padding-bottom: 2.6em;
		padding-top: 0.1em;
		font-size: 1.6em;
		margin-top: -4.7em;
		margin-left: -1.8em;
	}
	
	section > h2 {
		font-size: 2.5em;
		padding-top: 0.5em;
		padding-bottom: 1em;
	}
	body > section > section > article {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.2em;
	}
	

	.uppericon {
		margin-left: 17.5em;
		margin-top: -9em;
		display: flex;
		max-width: 5em;
		height: auto;
		width: 5em;
	}
	
	h2 a {
		font-family: "NS Sans", sans-serif;
		font-size: 1.6em;
	}
	
	article p {
		font-size: 1.6em;
		margin-left: 10%;
		margin-right: 10%;		
	}
	
	body > section > section > article input {
		font-family: "NS Sans", sans-serif;
		-webkit-appearance: none;
		border-radius: 0;
		padding: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 2em;	
	}
	
	
	footer p {
		text-align: center;
		font-size: 1.6em;
	}
}


/* MOBIEL */

@media (max-width: 40em) {
	body > header {
		width: 34em;
	}
	nav {
		font-size: 1.25em;
		padding-top: 0.5em;
		margin: 0;
	}
	header select {
		width: 4.5em;
		margin-left: 6.5%;
		font-size: 1.8em;
	}
	body > section > section {
		width: 30em;
		margin-left: -1.7em;
	}
	main img {
		max-width: 34em;
		width: auto;
		height: auto;
	}
	body > section > section > article {
		border-left: none;
		border-top: 0.5em solid rgb(0, 121, 211);
	}
	li img {
		margin-left: 0.5em;
		margin-top: 0.3em;
		width: 3em;
		height: auto;
	}
	body > footer {
		font-size: 1em;
		width: 34em;
	}
	main input {
		font-size: 1.4em;
		margin-top: 1.2em;
		margin-left: 5em;
	}
	section > h1 {
		font-size: 1em;
		width: 28.75em;
		margin-left: -1.2em;
		margin-top: -7em;
	}
	section > h2 {
		font-size: 1.8em;
		margin-top: 0.5em;
		margin-bottom: -0.5em;
	}
	body > section > section > article input {
		font-size: 1.5em;
	}
	
	.uppericon {
		position: absolute;
		display: flex;
		max-width: 4em;
		height: auto;
		margin-left: 13.5em;
		margin-top: -7.5em;
	}
	header > h2:first-child {
		margin-top: 1.5em;
	}
	header > h2 {
		font-size: 1.1em;
	}
	article > p {
		font-size: 1.2em;
	}
	footer p {
		font-size: 1.2em;
	}
}